html {
  font:12px ו;
  overflow-x:visible;
}

body {
  margin-top:0px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  padding-bottom:10px;
  overflow:visible;
  width:98%;
}

.topbar {
  height: 40px;
  background: #608c8c;
}

.topbarbig {
  color:white;
  font-size:18px;
  font-weight:bold;
  margin-left: 20px;
  font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif;
}

.topbarsmall{
  font-size:14px;
  color:white;
  margin-left: 20px;
  font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif;
}

.top-info-background {
  color: yellow;
  background: black;
  height: 20px;
  padding-left: 20px;
}

.welcome-pageheader{
  margin-top: 30px;
  margin-left: 20px;
  font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif;
  font-weight:bold;
  color: #325e5e;
}

.dialog-info {
  margin-left: 20px;
  color: black;
  font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif;
  font-size: 80%;
}

.dialog-label {
  font-weight: bold;
  font-size: 80%;
  color: black;
  font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif;
}

.colorButton {
  background-color: #e8f7f7;
  font-family: Arial,Helvetica,Tahoma,Verdana,sans-serif;
  font-size:80%;
  background: #b8cece;
  border-bottom: 1px solid #325e5e;
  border-right: 1px solid #325e5e;
  border-left: 1px solid #b8cece;
  border-top:1px solid #b8cece;
  color:#000000;
  text-decoration:none;
  cursor: pointer;
}

.usernamediv {
  margin-left: 20px;
  margin-top: 30px;
}

.passworddiv {
  margin-top: 10px;
  margin-left: 23px;
}

.buttondiv {
  margin-top: 20px;
  margin-left: 200px;
}

.errordiv {
  color: #990000;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif;
}
